services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-app
    ports:
      - "${PORT:-3001}:3001"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    restart: unless-stopped
